.venv
__pycache__
.ipynb_checkpoints
*.slides.html
.vscode/settings.json
.vscode/.ropeproject/objectdb
.vscode/.ropeproject/config.py
.vscode/launch.json
.vscode/launch.json
.vscode/launch.json
.vscode/launch.json
core/examples/__init__.pyc
core/__init__.pyc
